---
import Hero from '../components/sections/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Catalog from '../components/sections/Catalog.astro';
import About from '../components/sections/About.astro';
import Testimonials from '../components/sections/Testimonials.astro';

const title = "GlamBook - Salón de Belleza Profesional";
---

<Layout title={title}>

	<section id="Hero">
		<Hero />
	</section>

	<section id="About">
		<About />
	</section>

	<section id="Catalog">
		<Catalog />
	</section>

	<section id="Testimonials">
		<Testimonials />
	</section>

</Layout>

