---
import Layout from '../layouts/Layout.astro';
const title = "Nuestros servicios - GlamBook";
---

<Layout title={title}>
  <section class="min-h-screen flex items-center justify-center bg-pink-50 px-4">
    <div class="max-w-3xl text-center">
      <h1 class="text-4xl lg:text-5xl font-bold text-pink-500 mb-6 font-poppins">
        Nuestros Servicios
      </h1>
      <p class="text-lg lg:text-xl text-gray-700 mb-8 font-quicksand">
        En GlamBook, ofrecemos una amplia gama de servicios de belleza profesional para realzar tu estilo y confianza. Desde manicuras y pedicuras hasta tratamientos faciales y maquillaje para ocasiones especiales, nuestro equipo de expertos está aquí para brindarte una experiencia única y personalizada.
      </p>
      <p class="text-lg lg:text-xl text-gray-700 font-quicksand">
        Explora nuestra galería para ver ejemplos de nuestro trabajo y no dudes en contactarnos para reservar tu cita. ¡Estamos emocionados de ayudarte a lucir y sentirte increíble!
      </p>
    </div>
  </section>

</Layout>