---
import Hero from '../components/sections/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Catalog from '../components/sections/Catalog.astro';

const title = "Home Page";
---

<Layout title={title}>

	<section id="Hero">

		<Hero />
	</section>

	<section id="Catalog">
		<Catalog />
	</section>


</Layout>

